@use "../include/colors";


table {
  border-collapse: collapse; 
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid colors.$title-description-color;

  tr {
    height: 2.5rem;
    border-right: 1px solid colors.$title-description-color;

    &.title {
      background-color: colors.$list-title;
    }

    th, td {
      padding-top: 0.3rem;
      border-bottom: 1px solid colors.$title-description-color;
      border-left: 1px solid colors.$title-description-color;
    }
  }
}